<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name></display-name>
	<!-- <context-param> <description>Location to store uploaded file</description> 
		<param-name>file-upload</param-name> </context-param> -->
	<servlet>
		<servlet-name>filetransfer</servlet-name>
		<servlet-class>org.jivesoftware.openfire.plugin.UploadServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>filetransfer</servlet-name>
		<url-pattern>/servlet/upload</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DownloadServlet</servlet-name>
		<servlet-class>org.jivesoftware.openfire.plugin.DownloadServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DownloadServlet</servlet-name>
		<url-pattern>/servlet/download</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
